.callout{
    padding:4rem 0;
    margin-bottom: 1rem;
    background-image: linear-gradient(to top, rgba(17, 16, 16, 0.979),rgba(0, 0, 0, 0.808)),
    url("../images/beauty.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 30vh;
    @include flex;

    &__content{
        text-align: center;

        p{
            max-width: 80%;
            margin: 0 auto
        }
      
        span{
                font-size: 0.9rem;
                font-weight: 600;
                padding:  0.5rem 1rem;
                border-radius: 20px;
                display: inline-block;
                background: #000;
                color: #fff;
               
                &.royal{
                    background-color:$white;
                    color: $primary-color;

                }
              
        
        }

        button{
            @include btn;
            border-radius: 5px;
            margin-top: 2rem;
            margin-bottom: 2rem;
            color: $accent-color;
            font-size: 1.3rem;
            text-transform: capitalize;
            padding: 0.6rem 3rem;
            background: $primary-color;
            color: $white;
            opacity: 0.80;
            border: 1px solid $primary-color;
            transition: opacity 0.25s ease-in-out;
            &:hover{
               opacity: 1;
            }
        }

        p{
            margin-top:1rem;
        }
    }
}

.footer{
    padding: 3rem 0;
    text-align: center;

    &__content{
        @include flex;
        gap: 2rem;

        .footer__contact{

            p{
                max-width: 80%;
                margin: 0 auto;
                // margin-bottom: 2rem;
            }
        }

        .footer__social
        {
            .fab{
                background: rgb(255, 255, 255) ;
                color: $accent-color;
                padding: 0.4rem;
                border-radius: 50%;
                font-size: 1.5rem;
                cursor: pointer;
                margin-right: 0.7rem;
                transition: background 300ms ease-in-out;

                &:hover{
                    background: $accent-color;
                    color: #fff;
                }
            }
        }

        .footer__subscripe{
            input[type=text]{
                padding: 0.8rem 2rem;
                outline: none;
                border: none;
                border-radius: 20px;
                color: $bg-darkGray;

                &:focus{
                   box-shadow: 1px 1px 6px $primary-color;
                   outline-color: red;
                }
            }
          
        }
    }
}

.arrow{
    position: fixed;
    background: $bg-darkGray;
    color: $primary-color;
    font-weight: 700;
    display: inline-block;
    font-size: 2rem;
    top: 90%;
    transition: all 0.4s eas-in-out;
    transform: rotate(-90deg);
    right: 30px;
}